<li id="home"></span>
<a href="{{ root_url }}/">
	<span class="glyphicon glyphicon-home"> Home</span>
</a>
</li>
<li id="archives">
<a href="{{ root_url }}/blog/archives">
	<span class="glyphicon glyphicon-inbox"> Archives</span>
</a>
</li>
<li id="research">
<a href="{{ root_url }}/research"><span class="glyphicon glyphicon-book"> Research</span></a>
</li>
<li id="about">
<a href="{{ root_url }}/about"><span class="glyphicon glyphicon-user"> About</span></a>
</li>
<li id="links">
<a href="{{ root_url }}/links"><span class="glyphicon glyphicon-link"> Links</span></a>
</li>