body {
	background-color: #111731;
}
a :hover, a :focus{
	text-decoration: None;
}
.entry-content {
	font-size: 1.5em;
}
.main-page {
	background-color: #f8f8f8;
	padding: 0 100px 0 100px;
}
.eli-navbar {
	background-color: #1A3A5A;
}
.eli-body {
	margin-top:50px;
}
.navbar-brand:hover, .navbar-brand:focus, header a{
	color:#F7F8F8;
}
.nav>li>a:hover, .nav>li>a:focus{
	color:#F7F8F8;
	background-color: #4C78A3;
}
.eli-navbar-form {
	height: 30px;
}
.eli-btn-search {
	background-color: #498CC6;
}
.banner {
	padding:30px 0 0 0;
}
.eli-post-meta {
	height: 70px;
	padding:5px 2px;
}
.eli-post-meta div{
	margin:2px 5px;
}
.eli-post-meta a{
	color:#B8BAB5;
}
.eli-content {
	line-height: 2;
}
.eli-meta-icon {
	margin-right:5px;
}
.icon-bar {
	background-color:#F7F8F8;
}